@using DirectumCommunity.Extensions
@model DirectumCommunity.Models.ViewModels.EmployeeInfoViewModel

<div class="modal" id="employeeModal">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div class="container">
<div class="row" style="margin-bottom: 50px;">
    <div class="col">
        <span class="modal-text-header">@Model.Employee.Name</span>
    </div>
</div>

<div class="row">
    <div class="col employee-modal-img">
        @if(string.IsNullOrEmpty(Model.Employee.Avatar))
        {
            <img src="~/images/DefaultEmployeeAvatar.svg" alt="Default Avatar">
        }
        else
        {
            <img src="data:image/jpeg;base64,@Model.Employee.Avatar" alt="Employee Avatar">
        }
    </div>
    <div class="col">
        <div class="row">
            <span class="modal-param-text">Дата рождения:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Организация:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Город:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Мобильный телефон:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Рабочий телефон:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">График работы:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Адрес электронной почты:</span>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <span class="modal-value-text">
                @if (Model.Employee.Person.DateOfBirth.HasValue)
                {
                    <text>@Model.Employee.Person.DateOfBirth.Value.ToString("dd.MM.yyyy")</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
        <div class="row">
            <span class="modal-value-text">
                @if (Model.Employee.Organization != null)
                {
                    <text>@Model.Employee.Organization.Name</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
        <div class="row">
            <span class="modal-value-text">
                @if (!string.IsNullOrEmpty(Model.Employee.Person.GetCity()))
                {
                    <text>@Model.Employee.Person.GetCity()</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
        <div class="row">
            <span class="modal-value-text">
                @if (!string.IsNullOrEmpty(Model.Employee.Person.Phones))
                {
                    <text>@Model.Employee.Person.Phones</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
        <div class="row">
            <span class="modal-value-text">
                @if (!string.IsNullOrEmpty(Model.Employee.Phone))
                {
                    <text>@Model.Employee.Phone</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
        <div class="row">
            <span class="modal-value-text">8:00 - 18:00</span>
        </div>
        <div class="row">
            <span class="modal-value-text">
                @if (!string.IsNullOrEmpty(Model.Employee.Email))
                {
                    <text>@Model.Employee.Email</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-sm-3">
        <div class="row">
            <span class="modal-param-text-2">Должность:</span>
        </div>
        <div class="row">
            <span class="modal-param-text-2">Подразделение:</span>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <span class="modal-value-text-2">
                @if (Model.Employee.JobTitle != null && !string.IsNullOrEmpty(Model.Employee.JobTitle.Name))
                {
                    <text>@Model.Employee.JobTitle.Name</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
        <div class="row">
            <span class="modal-value-text-2">
                @if (Model.Employee.Department != null && !string.IsNullOrEmpty(Model.Employee.Department.Name))
                {
                    <text>@Model.Employee.Department.Name</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <span class="modal-param-text-2">Кадровые изменения:</span>
    </div>
</div>

<div class="row" style="margin-top: 26px;">
    <div class="col-sm-3">
        <div class="row">
            <span class="modal-value-text-2">Период:</span>
        </div>
        <div class="row">
            <span class="modal-value-text-2">Организация:</span>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <span class="modal-value-text-2">@Model.Period</span>
        </div>
        <div class="row">
            <span class="modal-value-text-2">
                @if (Model.Employee.Organization != null)
                {
                    <text>@Model.Employee.Organization.Name</text>
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <span class="modal-value-text-2">Изменения по должности или подразделению:</span>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col">
        <table class="table table-bordered">
            <thead class="table-header-text">
            <tr>
                <td rowspan="2" class="top-left-cell">Дата</td>
                <td colspan="2" class="text-center">Подразделение</td>
                <td colspan="2" class="text-center">Должность</td>
            </tr>
            <tr>
                <td>Предыдущее</td>
                <td>Нынешнее</td>
                <td>Предыдущая</td>
                <td>Нынешняя</td>
            </tr>
            </thead>
            <tbody class="table-body-text">
            @if (Model.TableModel.Any())
            {
                @foreach (var row in Model.TableModel)
                {
                    <tr>
                        <td>@row.Date</td>
                        <td>@row.OldDepartment</td>
                        <td>@row.NewDepartment</td>
                        <td>@row.OldJobTitle</td>
                        <td>@row.NewJobTitle</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col">
        <span class="modal-value-text-2">Информация о приеме на работу/увольнении:</span>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-3">
        <div class="row">
            <span class="modal-work-text">Дата приема на работу:</span>
        </div>
        <div class="row">
            <span class="modal-work-text">Дата увольнения:</span>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <span class="modal-work-text">@(Model.Employee.CreateDate?.Date.ToShortDateString() ?? "-")</span>
        </div>
        <div class="row">
            <span class="modal-work-text">@Model.DismissalDate</span>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col">
        <span class="modal-value-text-2">Информация о смене фамилии</span>
    </div>
</div>

@if (Model.LastNameModel != null)
{
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="row">
                <span class="modal-work-text">Устаревшие данные:</span>
            </div>
            <div class="row">
                <span class="modal-work-text">Обновленные данные:</span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <span class="modal-work-text">@Model.LastNameModel.OldValue</span>
            </div>
            <div class="row">
                <span class="modal-work-text">@Model.LastNameModel.NewValue</span>
            </div>
        </div>
    </div>
}
else
{
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <span class="modal-work-text">Информация отсутствует</span>
        </div>
    </div>
}
</div>
</div>
<div class="modal-footer" style="width: 950px; height: 23px; background: #FF8600D9;"></div>
</div>
</div>
</div>