@model IEnumerable<Employee>
@{
    Layout = "_Layout";
}

<div style="display: flex; flex-wrap: wrap;">
    @foreach (var employee in Model)
    {
        <div style="width: 33.33%; padding: 10px; box-sizing: border-box;">
            <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 13px; display: inline-flex">
                <img style="width: 220px; height: 265px" src="~/images/DefaultEmployeeAvatar.svg" alt=""/>
                <div style="align-self: stretch; color: black; font-size: 18px; font-family: Open Sans,sans-serif; font-weight: 700; word-wrap: break-word">@employee.LastName <br/>@employee.FirstName <br/>@employee.Patronymic</div>
                <div style="align-self: stretch; color: black; font-size: 14px; font-family: Open Sans,sans-serif; font-weight: 400; word-wrap: break-word">@employee.Department,<br/>@employee.Position</div>
            </div>
        </div>
    }
</div>